label,small
{
    width:200px;
    max-width:200px;
}

a:not(.nav-link){
    color: cornflowerblue !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    }

.dropdown-menu:last-child
{

    float:left;

    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
